<div class="card">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-12">
        <label for="quoteTitle" class="font-weight-bold">Quote title</label>
        <input type="text" id="name" class="form-control" placeholder="Enter the quote title">
      </div>
      <label for="author" class="font-weight-bold">Submitted by:</label>
      <input type="text" id="name" class="form-control" placeholder="Your name">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12"> 
      <label for="quote" class="font-weight-bold">The quote</label>
      <textarea id="theQuote" cols="20" rows="3" class="form-control"   placeholder="Write the quote here"></textarea>
    </div>
    <div class="col-md-12">
      <label for="quote" class="font-weight-bold">Author of the quote</label>
      <input type="text" id="name" class="form-control" placeholder="Enter the name of the initial author">
    </div>
    <div class="col-md-12">
      <label for="date" class="font-weight-bold">Date posted</label>
      <input type="date"  class="form-control" placeholder="Enter the date you posted">
    </div>
  </div>
 

 <button type="submit" class="btn btn-warning">Add quote</button>
</div>
