  
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
.card{
  margin-bottom: 10px;
  list-style-type: none;
  background-color: #095a55;
}
.quotedisplay:hover{
  box-shadow:#000000 4px 4px 4px 4px;

}
#quot{
  font-size: 18px;
  padding: 10px;
  color: #ffffff;
}
#auth{
  color:#EAAD33;
  text-align: right;
  padding-bottom: 2px;
  padding-right: 10px;
}
#sub{
  padding-left: 10px;
  color: #ffffff;
}
#tit{
  color: #ffffff; 
  padding-left: 10px;
}
#tm{
  margin-top: -28px;
  padding-left: 10px;
  color:#EAAD33;
}
.topHeader{
  font-family: 'Rampart One', cursive;
  text-align: center;
  padding-top: 1%;

}