<div class="container">
  <h1 class="text-center" class="topHeader">ART QUOTES</h1>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div *ngFor='let quote of quotes; let i = index'>
        <div class="card quotedisplay">
          <li id="tit">Quote title:{{quote.quoteTittle}}</li>
          <li id="sub">Submitted by:{{quote.submitted}}</li>
          <li id="quot">Quote:{{quote.description}}</li>
          <li id="auth">Author:{{quote.name}}</li>
          <li id="tm" appStrikethrough>Date posted:{{quote.day|date}}</li>
          <app-quote-detail [quote]='quote'></app-quote-detail>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <app-quote-form (onAddQuote)="addQuotes($event)"></app-quote-form>
    </div>
  </div>

</div>