.card{
  margin-bottom: 10px;
  list-style-type: none;
  background-color: #095a55;
}
.quotedisplay:hover{
  box-shadow: grey 2px 2px 2px 2px;

}
#quot{
  font-size: 18px;
  padding: 10px;
  color: white;
}
#auth{
  color: red;
  text-align: right;
}