<div class="container">
  <h1 class="text-center">QUOTES</h1>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div *ngFor='let quote of quotes'>
        <div class="card quotedisplay">
          <li id="sub">Submitted by:{{quote.submitted}}</li>
          <li id="tit">Quote title:{{quote.quoteTittle}}</li>
          <li id="quot">The Quote:{{quote.description}}</li>
          <li id="auth">Author:{{quote.name}}</li>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <app-quote-form></app-quote-form> 
    </div>

  </div>

  
  <div class="row">
    <div class="col-md-4 ">
     
    </div>
  </div>

  <!-- <ul>
     <div *ngFor='let quote of quotes; let i = index'>
      <li>{{quote.name}}</li>
      <button (click)='toggleDetails(i)'>Toggle Details</button>
       <app-quote-detail *ngIf='quote.showDescription' [quote] ='quote' (isComplete) = 'completeQuote($event,i)'></app-quote-detail> -->
  <!-- </div> -->
  <!-- </ul> -->
  <!-- <p *ngIf='quotes.length > 5'>Your quotes are too many</p> -->
</div>